@{

}
<ul class="nav navbar-nav side-nav">
    <li id="default"><a href="@Href("~/Admin/Default")"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
    <li id="allpages"><a href="@Href("~/Admin/AllPages")"><i class="glyphicon glyphicon-file"></i> Pages</a></li>
    <li id="allwidgets"><a href="@Href("~/Admin/AllWidgets")"><i class="glyphicon glyphicon-list-alt"></i> Widgets</a></li>
    <li id="allmenu"><a href="@Href("~/Admin/AllMenu")"><i class="glyphicon glyphicon-menu-hamburger"></i> Menu</a></li>
    <li id="editor"><a href="@Href("~/Admin/Editor")"><i class="glyphicon glyphicon-edit"></i> File Editor</a></li>
    <li id="sitesettings"><a href="@Href("~/Admin/SiteSettings")"><i class="glyphicon glyphicon-wrench"></i> Site Settings</a></li>
    <li id="alladdons"><a href="@Href("~/Admin/AllAddons")"><i class="glyphicon glyphicon-plus-sign"></i>  Addons</a></li>
    <li id="allusers"><a href="@Href("~/Admin/AllUsers")"><i class="glyphicon glyphicon-user"></i> Users</a></li>
    <li><a href="@Href("~/Default")"><i class="glyphicon glyphicon-home"></i> Website</a></li>
</ul>