@{
    Page.Title = "Admin :: All Addons";
    Page.Heading = "All Addons";
    var message = string.Empty;

    var dirInfo = new DirectoryInfo(Server.MapPath("~/Addons"));
    var listAddons = dirInfo.GetDirectories("*", SearchOption.TopDirectoryOnly);
    var addon = Request["addon"];
    if (!addon.IsEmpty())
    {
        using (var db = Database.Open(Functions.GetDbName()))
        {
            // Get Widget ID
            var sqlSelect = "Select id From Widgets Where wName=@0";
            var wId = db.QueryValue(sqlSelect, addon);
            if (string.IsNullOrEmpty(wId))
            {
                wId = "0";
            }
            // Delete Widget
            const string sqlDelete = "Delete From Widgets Where Id=@0";
            db.Execute(sqlDelete, wId);
            // Delete Addon Files
            var addonPath = Server.MapPath("~/Addons/" + addon);
            if (Directory.Exists(addonPath))
            {
                var dirAddon = new DirectoryInfo(addonPath);
                dirAddon.EmptyDirectory();
                Directory.Delete(addonPath, true);
            }
            Response.Redirect("~/Admin/AllAddons?messageId=1");
        }
    }
    var download = Request["download"];
    if (!download.IsEmpty())
    {
        var compressPath = Server.MapPath("~/Addons/" + download +"/");
        var outputPath = Server.MapPath("~/Uploads/" + download + ".zip");
        Compression.Compress(compressPath, outputPath);
        Response.ContentType = "application/zip";
        Response.AppendHeader("Content-Disposition", "attachment; filename=" + download + ".zip");
        Response.TransmitFile(outputPath);
        Response.Flush();
        File.Delete(outputPath);
        Response.End();
    }
    var messageId = Request["messageId"];
    if (!messageId.IsEmpty())
    {
        switch (messageId)
        {
            case "1":
                message = Helpers.AlertSuccess("Addon Successfully Deleted!");
                break;
            default:
                message = Helpers.AlertWarning("Unknown messageId");
                break;
        }
    }
}
@section Scripts {

}
@section Menu{
    @RenderPage("_Menu.cshtml")
}
@Html.Raw(message)
<div class="col-lg-12">
    <h2 class="page-header">All Addons | <a href="@Href("~/Admin/NewAddon")">Upload Addon</a></h2>
    <p>Below are a list of all the current active addons. Deleting an addon will remove all its files, settings and any pages it may be added to.</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="#">Manage</a>
                    </th>
                    <th scope="col">
                        <a href="#">Addon</a>
                    </th>
                    <th scope="col">
                        <a href="#">Download</a>
                    </th>
                    <th scope="col">
                        <a href="#">Delete</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (listAddons.Count() > 0)
                {
                    foreach (var d in listAddons)
                    {
                        <tr>
                            <td><a href="@Href("~/Admin/ManageAddon?addon=" + @d.Name)"><i class="glyphicon glyphicon-edit"></i></a></td>
                            <td>@Functions.AddonsMenu(d.Name)</td>
                            <td><a href="@Href("~/Admin/AllAddons?download=" + @d.Name)"><i class="glyphicon glyphicon-download"></i></a></td>
                            <td><a href="@Href("~/Admin/AllAddons?addon=" + @d.Name)" onclick="return confirm('Are You Sure You Want To Delete This Addon?')" title="Delete"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><a href="#">No Addons Found</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>