@using WebMatrix.Data;
@{
    Page.Title = "Admin :: All Menu Items";
    Page.Heading = "All Menu Items";
    var Message = string.Empty;

    //delete record
    var DeleteID = Request["id"];
    if (!DeleteID.IsEmpty())
    {
        using (var Db = Database.Open(Functions.GetDBName()))
        {
            var SqlDelete = "Delete From Menu Where Id=@0";
            Db.Execute(SqlDelete, DeleteID);
            Response.Redirect("~/Admin/AllMenu?messageId=1");
        }
    }
    //show success messages
    var messageId = Request["messageId"];
    if (!messageId.IsEmpty())
    {
        switch (messageId)
        {
            case "1":
                Message = Helpers.alertSuccess("Item successeffully removed from menu!");
                break;
            default:
                Message = Helpers.alertWarning("Unknown messageId");
                break;
        }
    }
    IEnumerable<dynamic> Data = Enumerable.Empty<dynamic>();
    using (var Db = Database.Open(Functions.GetDBName()))
    {
        var SqlSelect = "Select * From Menu Order By mOrderId Desc";
        Data = Db.Query(SqlSelect);
    }
    var Grid = new WebGrid(Data);
    var parentItems = Data.Where(d => d.mParentId == 0);
}
@section Scripts{

}
@section Menu{
    @RenderPage("_Menu.cshtml")
}
@Html.Raw(Message)
<div class="col-lg-12">
    <h2 class="page-header">All Menu Items | <a href="@Href("~/Admin/NewMenu")">Create Menu Item</a></h2>
    <p>Below are a list of all the current active menu items. Use the arrows to change the menu order.</p>
    <div class="table-responsive">
        @Grid.GetHtml(tableStyle: "table table-bordered table-hover table-striped",
                columns: Grid.Columns(
                    Grid.Column("mName", "Name"),
                    Grid.Column("URL", format:@<i>@item.mURL</i>),
                    Grid.Column("Order", format:@<span>
                        <a href="@Href("~/Admin/ChangeOrderId?tn=menu&cv=1&id=" + item.Id)" title="Up"><i class="glyphicon glyphicon-arrow-up"></i></a>
                        <a href="@Href("~/Admin/ChangeOrderId?tn=menu&cv=-1&id=" + item.Id)" title="Down"><i class="glyphicon glyphicon-arrow-down" style="margin-right:10px"></i></a>@item.mOrderId
                    </span>),
                    Grid.Column("mTarget", "Target"),
                    Grid.Column("Delete", format:@<a href="@Href("~/Admin/Menu?id=" + item.Id)" onclick="return confirm('Are You Sure You Want To Delete This Menu Item?')" title="Delete"><i class="glyphicon glyphicon-remove" alt="Delete"></i></a>)
                )
    )
        <div class="col-sm-6">
            @Grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
        </div>
    </div>
</div> 