@using WebMatrix.Data;
@{
    Page.Title = "Admin :: All Menu Items";
    Page.Heading = "All Menu Items";
    var message = string.Empty;

    //delete record
    var deleteId = Request["id"];
    if (!deleteId.IsEmpty())
    {
        using (var db = Database.Open(Functions.GetDbName()))
        {
            var sqlDelete = "Delete From Menu Where Id=@0";
            db.Execute(sqlDelete, deleteId);
            Response.Redirect("~/Admin/AllMenu?messageId=1");
        }
    }
    //show success messages
    var messageId = Request["messageId"];
    if (!messageId.IsEmpty())
    {
        switch (messageId)
        {
            case "1":
                message = Helpers.AlertSuccess("Item successeffully removed from menu!");
                break;
            default:
                message = Helpers.AlertWarning("Unknown messageId");
                break;
        }
    }
    IEnumerable<dynamic> data = Enumerable.Empty<dynamic>();
    using (var db = Database.Open(Functions.GetDbName()))
    {
        var sqlSelect = "Select * From Menu Order By mOrderId Desc";
        data = db.Query(sqlSelect);
    }
    var grid = new WebGrid(data);
    var parentItems = data.Where(d => d.mParentId == 0);
}
@section Scripts{

}
@section Menu{
    @RenderPage("_Menu.cshtml")
}
@Html.Raw(message)
<div class="col-lg-12">
    <h2 class="page-header">All Menu Items | <a href="@Href("~/Admin/NewMenu")">Create Menu Item</a></h2>
    <p>Below are a list of all the current active menu items. Use the arrows to change the menu order.</p>
    <div class="table-responsive">
        @grid.GetHtml(tableStyle: "table table-bordered table-hover table-striped",
                columns: grid.Columns(
                    grid.Column("mName", "Name"),
                    grid.Column("URL", format:@<i>@item.mURL</i>),
                    grid.Column("Order", format:@<span>
                        <a href="@Href("~/Admin/ChangeOrderId?tn=menu&cv=1&id=" + item.Id)" title="Up"><i class="glyphicon glyphicon-arrow-up"></i></a>
                        <a href="@Href("~/Admin/ChangeOrderId?tn=menu&cv=-1&id=" + item.Id)" title="Down"><i class="glyphicon glyphicon-arrow-down" style="margin-right:10px"></i></a>@item.mOrderId
                    </span>),
                    grid.Column("mTarget", "Target"),
                    grid.Column("Delete", format:@<a href="@Href("~/Admin/Menu?id=" + item.Id)" onclick="return confirm('Are You Sure You Want To Delete This Menu Item?')" title="Delete"><i class="glyphicon glyphicon-remove" alt="Delete"></i></a>)
                )
    )
        <div class="col-sm-6">
            @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
        </div>
    </div>
</div> 