@{
    Page.Title = "Admin :: All Pages";
    Page.Heading = "All Pages";
    var message = string.Empty;

    //delete record
    var deleteId = Request["id"];
    if (!deleteId.IsEmpty())
    {
        using (var db = Database.Open(Functions.GetDbName()))
        {
            const string sqlDelete = "Delete From Pages Where pId=@0";
            db.Execute(sqlDelete, deleteId);
            Response.Redirect("~/Admin/AllPages?messageId=1");
        }
    }
    //show success messages
    var messageId = Request["messageId"];
    if (!messageId.IsEmpty())
    {
        switch (messageId)
        {
            case "1":
                message = Helpers.AlertSuccess("Page successeffully deleted!");
                break;
            default:
                message = Helpers.AlertWarning("Unknown messageId");
                break;
        }
    }
    IEnumerable<dynamic> data;
    using (var db = Database.Open(Functions.GetDbName()))
    {
        const string sqlSelect = "Select pId, pName, pEditDate From Pages Where pHTML=1 Order By pEditDate Desc";
        data = db.Query(sqlSelect);
    }
    var grid = new WebGrid(source: data, rowsPerPage: 10);

}
@section Scripts {
}
@section Menu{
    @RenderPage("_Menu.cshtml")
}
@Html.Raw(message)
<div class="col-lg-12">
    <h2 class="page-header">All Pages | <a href="@Href("~/Admin/NewPage")">Create Page</a></h2>
    <p>Below are a list of all the current pages on the site. Click <a href="@Href("~/Admin/AllMenu")">HERE</a> to confirm if these pages are linked to the menu.</p>
    <div class="table-responsive">
        @grid.GetHtml(
                tableStyle: "table table-bordered table-hover table-striped",
                columns: grid.Columns(
                    grid.Column("Edit", header: "Edit Page", format: @<a href="@Href("~/Admin/EditPage?id=" + item.pId)" title="Edit Page"><i class="glyphicon glyphicon-edit"></i></a>),
                    grid.Column("Widgets", format: @<a href="@Href("~/Admin/WidgetsOnPage?pid=" + item.pId + "&pName=" + item.pName)" title="Widgets"><i class="glyphicon glyphicon-list-alt"></i></a>),
                    grid.Column("pName", "Page Name"),
                    grid.Column("Last Edited", format: @<i>@item.pEditDate</i>),
                    grid.Column("Delete", format: @<a href="@Href("~/Admin/AllPages?id=" + item.pId)" title="Delete" onclick="return confirm('Are You Sure You Want To Delete This Page?')"><i class="glyphicon glyphicon-remove"></i></a>)
                )
        )
        <div class="col-sm-6">
            @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
        </div>
    </div>
</div>