@using Microsoft.Web.Helpers
@{
    var message = string.Empty;
    var vMake = Request["vMake"];
    var vModel = Request["vModel"];
    var vYear = Request["vYear"];
    var vColor = Request["vColor"];
    var vDescription = Request["vDescription"];
    var vBodyType = Request["vBodyType"];
    var vOdometer = Request["vOdometer"];
    var vVariant = Request["vVariant"];
    var vTransmission = Request["vTransmission"];
    var vTransmissionDrive = Request["vTransmissionDrive"];
    var vFuelType = Request["vFuelType"];
    var vPrice = Request["vPrice"];
    var vEditDate = DateTime.Now;

    Validation.RequireField("vMake");
    Validation.RequireField("vModel");
    Validation.RequireField("vYear");
    Validation.RequireField("vColor");
    Validation.RequireField("vDescription");
    Validation.RequireField("vBodyType");
    Validation.RequireField("vOdometer");
    Validation.RequireField("vVariant");
    Validation.RequireField("vTransmission");
    Validation.RequireField("vTransmissionDrive");
    Validation.RequireField("vFuelType");
    Validation.RequireField("vPrice");

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            dynamic vId = 0;
            // save vehicle to db
            using (var db = Database.Open(Functions.GetDbName()))
            {
                const string sqlInsert = "Insert Into VehicleCatalog (vMake, vModel, vYear, vColor, vDescription, vBodyType, vOdometer, vVariant, vTransmission, vTransmissionDrive, vFuelType, vPrice, vEditDate) Values (@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10, @11, @12)";
                db.Execute(sqlInsert, vMake, vModel, vYear, vColor, vDescription, vBodyType, vOdometer, vVariant, vTransmission, vTransmissionDrive, vFuelType, vPrice, vEditDate);
                vId = db.GetLastInsertId();
            }
            WebImage photo = null;
            var path = String.Concat("~/Uploads/VehicleCatalog/", vId, "/");
            if (!Directory.Exists(Server.MapPath(path)))
            {
                Directory.CreateDirectory(Server.MapPath(path));
            }

            photo = WebImage.GetImageFromRequest();
            if (photo != null)
            {
                photo.Resize(width: 400, height: 250, preserveAspectRatio: true, preventEnlarge: true);
                path = Server.MapPath(path + Path.GetFileName(photo.FileName));
                photo.Save(path);
            }
            Response.Redirect("~/Admin/ManageAddon?addon=VehicleCatalog&action=Default&messageId=5");
        }
        message = Helpers.AlertWarning("Please Complete All Required Fields!");
    }
}
@section Menu{
    @RenderPage("~/Admin/_Menu.cshtml")
}
@Html.Raw(message)
<form action="" method="post" enctype="multipart/form-data">
    <div class="col-lg-12">
        <h2 class="page-header"><a href="@Href("~/Admin/ManageAddon?addon=VehicleCatalog&action=Default")">All Vehicles</a> | Add Vehicle</h2>
        <p>Use the form below to add a new vehicle to the catalog. <br />Should you require help for any of the fields, please hover over the <i class="glyphicon glyphicon-info-sign" title="Hover for help."></i> icon.</p>
        <div class="col-lg-6">

            <div class="form-group">
                @Html.Label("Vehicle Make", "vMake", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vMake", Request["vMake"], new { @maxlength = "250", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The make of the vehicle eg BMW"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Vehicle Model", "vModel", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vModel", Request["vModel"], new { @maxlength = "250", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The model of the vehicle eg 420i"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Year", "vYear", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vYear", Request["vYear"], new { @maxlength = "6", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The year of the vehicle eg @DateTime.Now.Year"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Color", "vColor", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vColor", Request["vColor"], new { @maxlength = "100", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The color of the vehicle eg Black"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Vehicle Description", "vDescription", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextArea("vDescription", Request["vDescription"], new { @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The description for the vehicle"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Body Type", "vBodyType", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vBodyType", Request["vBodyType"], new { @maxlength = "250", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" title="The body type of the vehicle eg Grand coupe"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Odometer", "vOdometer", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vOdometer", Request["vOdometer"], new { @maxlength = "10", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The vehicle odometer reading"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Variant", "vVariant", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vVariant", Request["vVariant"], new { @maxlength = "250", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The vehicle variant eg M sport"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Transmission", "vTransmission", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vTransmission", Request["vTransmission"], new { @maxlength = "100", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The vehicle transmission type"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Transmission Drive", "vTransmissionDrive", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vTransmissionDrive", Request["vTransmissionDrive"], new { @maxlength = "100", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The vehicle transmission drive location eg FWD"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Fuel Type", "vFuelType", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vFuelType", Request["vFuelType"], new { @maxlength = "100", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The fuel type used by the vehicle eg Petrol"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Price", "vPrice", new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBox("vPrice", Request["vPrice"], new { @maxlength = "100", @class = "form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" title="The vehicle price - Numbers only"></i></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Select Vehicle Image", "mPage", new { @class = "control-label" })
                <div class="input-group">
                    @FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "Add New Image", uploadText: "Upload")
                </div>
            </div>

            <p class="form-actions">
                <input class="btn btn-primary" type="submit" value="Add Vehicle" />
            </p>
        </div>
    </div>
</form>
<script type='text/javascript'>
$(window).on('load', function() {
    $('form').validate({
        rules: {
            vMake: {
                required: true
            },
            vModel: {
                required: true
            },
            vYear: {
                required: true
            },
            vColor: {
                required: true
            },
            vDescription: {
                required: true
            },
            vBodyType: {
                required: true
            },
            vOdometer: {
                required: true
            },
            vVariant: {
                required: true
            },
            vTransmission: {
                required: true
            },
            vTransmissionDrive: {
                required: true
            },
            vFuelType: {
                required: true
            },
            vPrice: {
                required: true
            }
        },
        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
});
</script>
