@using System.Configuration;
@{
    var message = string.Empty;
    var code = Request.QueryString["Error"];

    switch (code)
    {
        case "BadRequest":
            message = "An invalid requested was received!";
            break;
        case "Unauthorized":
            message = "You are not authorized to view this page!";
            break;
        case "Forbidden":
            message = "You do not have permission to access the requested resource";
            break;
        case "NotFound":
            message = "Page or resource not found!";
            break;
        case "InternalServerError":
            message = "An internal server error occured!";
            break;
        default:
            message = "An unhandled error occured!";
            break;
    }
}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Href("~/Styles/bootstrap.min.css")" rel="stylesheet">
    <link href="@Href("~/Styles/error.css")" rel="stylesheet">
    <script src="@Href("~/Scripts/jquery.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 class="grey">
                        Oops!
                    </h1>
                    <h2 class="grey">
                        @message
                    </h2>
                    <div class="error-details grey">
                        Sorry, an error has occured and an administrator has been notified!
                    </div>
                    <div class="error-actions">
                        <a href="@Href("~/")" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home
                        </a><a href="mailto:@ConfigurationManager.AppSettings["EmailTo"]" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>